* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    width: 560px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.showing {
    height: 100%;
    width: 465px;
    background-color: blue;
}

.images-selector {
    height: 100%;
    width: 95px;
    background-color: red;
    position: relative;
}

.images-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.selector-image {
    background-color: green;
    width: 100%;
    height: 20%;
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrow.up {
    top: 5px;
}

.arrow.down {
    bottom: 5px;
}